.page {
  background-color: #f9faf7;
}

.inputsection {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 330px;
  padding: 11px;
  box-shadow: -0px 3px 3px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .centered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    padding: 6px;
  }

  textarea {
    display: inline-block;
    margin: 12px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%; 

      button {
        width: 100px;
        box-shadow: -0px 3px 3px lightgray;
        border: none;
        border-radius: 4px;
        font-size: 11px;
        font-weight: 600;
        padding: 5px 10px;
        background-color: #eaeaea;
      }
  }

  //   button:focus {
  //     outline: 0;
  //     background-color: #aaa;
  //   }
}

.draggable {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 5000;
  &:focus {
    background-color: blue;
}
}

.nodecomponent {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightblue;
  padding: 10px;
  .text {
    position: relative;
    transform: translateX(-50%);
    background-color: green;
  }
  .children {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: red;
  }
}
